$gapColumns--lg: 18px;
$borderRadius: 4px;

//Paddings
$littlePadding: 16px;
$largePadding: 32px;

//Colors
$principalYellow: #ffe600;
$darkerGray: #333333;
$lessDarkerGray: #666666;
$lessLighterGray: #999999;
$lighterGray: #eeeeee;
$principalBlue: #3483fa;
