$gapColumns--lg: 18px;
$borderRadius: 4px;

//Paddings
$littlePadding: 16px;
$largePadding: 32px;
$responsivePadding: 8px;

//Colors
$principalYellow: #ffe600;
$darkerGray: #333333;
$lessDarkerGray: #666666;
$lessLighterGray: #999999;
$lighterGray: #eeeeee;
$principalBlue: #3483fa;
$hoverBlue: #2968c8;

//BreakPoints
$xxs: 375px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$xl: 1200px;
