@import "styles/variables";

.list-result-card {
  display: flex;
  justify-content: center;
  align-items: center;
  &--internal {
    padding: $littlePadding;
    display: grid;
    grid-column: 2 / span 10;
    grid-template-columns: repeat(10, 1fr);
    background: #ffffff;
    border-radius: $borderRadius;
    margin-bottom: 50px;
    & > :not(:last-child) {
      border-bottom: 2px solid $lighterGray;
    }
  }
}
